@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Smooch+Sans:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Smooch Sans", serif;
}

body {

    /* background: #000;
    color: white;
} */
    .left {
        width: 25vw;
        padding: 10px;
    }

    .right {
        width: 75vw;
        padding: 10px;
        position: relative;
    }

    .home ul li {
        list-style: none;
        width: 15px;
        display: flex;
        gap: 15px;
        padding-top: 14px;
        font-weight: bold;
    }
    .library .lab-icon img{
        width: 20px ;
    }
    .library{
        min-height: 70vh;
        position: relative;
    }
    .heading{
        display: flex;
        font-weight: bold;
        font-size: 16px;
    }
    .footer{
        display: flex;
        font-size: 10px;
        color: grey;
        gap: 8px;
        position: absolute;
        bottom: 0;
        flex-direction: column;
    }
    .footer .flex{
        gap: 13px;
    }
    .footer a{
        color: grey;
        text-decoration: none;
        
    }
    .right .header{
        height: 10vh;
        justify-content: space-between;
        padding: 5px;
        margin-left: 0;
        
    }
    .button{
        border-radius: 50%;
        width: 20px;
        height: auto;
        font-size: larger;
        font-weight: 900;
        color: white;
        background: #000;
        margin-left: 10px;
    }
    .button:hover{
        transition: 0.3s ease all;
        background-color: #474141;
    }
    .accounts span button{
        padding: 2px 5px;
        border-radius: 20px;
        font-weight: bold;
        font-size: large;
    }
    .accounts span button:hover{
        transition: 0.3s ease all;
        background-color: #474141;
        color: white;
    }

    .accounts span h4:hover{
        transition: 0.3s ease all;
        color: grey;
        cursor: pointer;
    }
    .spotifyplaylist{
        height: 79vh;
        margin-right: 5px;
        overflow: auto;
    }
    .innerlists{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .innerlists .box {
        width: 170px;
        height: 220px;
        background: rgb(24, 23, 23);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        font-size: small;
        padding: 10px;
        margin: 10px;
        position: relative;
        overflow: hidden;
    }
    .innerlists .box:hover{
        background: rgb(33, 33, 33);
        transition: 1s ease all;
    }
    .box .image img{
        height: 160px;
        width: 160px;
        border-radius: 6px;
        margin: 4px;
    }
    .innerlists .text{
        height: 160px;
        width: 160px;
        text-align: left;
    }
    .innerlists .text p{
        color: #979797;
    }
    .box .image .popup{
        visibility: hidden;
        opacity: 0;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        bottom: 75px;
        transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    }
    .box .image:hover .popup{
    visibility: visible;
    opacity: 1;
    }
    .playbox{
        background: #2e3d30;
        position: absolute;
        bottom: 17px;
        width: 97.5%;
        
    }
    .songButton{
        display: flex;
        justify-content: center ;
        padding: 10px;
        gap: 12px;
    }